# GitHub Configuration
GITHUB_USERNAME=Victor-Vaglieri
GITHUB_WEBHOOK_SECRET=projeto_livefolio_secret_123

# URLs & Social Media
GITHUB_URL=https://github.com/Victor-Vaglieri
LINKEDIN_URL=https://www.linkedin.com/in/victor-vaglieri-de-oliveira/
LEETCODE_URL=https://leetcode.com/u/VictorVaglieri/

# Database (PostgreSQL)
DB_HOST=db
DB_PORT=5432
DB_NAME=livefolio
DB_USER=postgres
DB_PASSWORD=postgres

# Redis
REDIS_URL=redis://redis:6379

# Admin
ADMIN_SECRET=projeto_livefolio_secret_123
