@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121314; /* editor.background */
  --foreground: #BBBEBF; /* editor.foreground */

  --surface: #191A1B;
  --surface-2: #202122;
  --border: #2A2B2C;

  --primary: #3994BC;
  --primary-hover: #2B7DA3;

  --muted: #8C8C8C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121314;
    --foreground: #BBBEBF;

    --surface: #191A1B;
    --surface-2: #202122;
    --border: #2A2B2C;

    --primary: #3994BC;
    --primary-hover: #2B7DA3;

    --muted: #8C8C8C;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

/* Scrollbar igual VSCode */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #83848533; /* scrollbarSlider.background */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #83848566; /* hover */
}

::-webkit-scrollbar-thumb:active {
  background: #83848599; /* active */
}

::-webkit-scrollbar-corner {
  background: transparent;
}